.product-container {
    display: flex;

    background-color: white;

    .content-left {
        width: 50%;
        color: black;

        .img-up {
            img {
                width : 350px;
                height: 350px;
            }
        }

        .img-down {
            display: flex;
            gap    : 10px;

            .img-small {
                padding-top: 10px;

                .active {
                    border: 1px solid rgb(29, 82, 179);
                }

                img {
                    width        : 80px;
                    height       : 80px;
                    border-radius: 3px;
                    cursor       : pointer;
                }
            }
        }
    }

    .content-right {
        color           : black;
        width           : 50%;
        background-color: #fafafa;

        .title {
            font-size  : 18px;
            font-weight: 600;
            text-align : left;
            padding    : 10px 0;
        }

        .price {
            font-size  : 20px;
            font-weight: 600;
            padding    : 5px 0 15px 0;
        }

        .size {
            padding: 5px 0;
        }

        .action {
            display       : flex;
            flex-direction: column;
            gap           : 10px;

            .quantity {
                padding: 15px 0 0 0;
            }

            input {
                border       : none;
                outline      : none;
                height       : 25px;
                width        : 30px;
                border-radius: 3px;
            }

            button {
                background   : #ff3945;
                border       : none;
                outline      : none;
                border-radius: 3px;
                height       : 30px;
                color        : white;
                width        : 60%;
            }
        }
    }
}