.weather-app-container {
    .search-weather-container {
        .search-inputs {
            display        : flex;
            justify-content: center;
            gap            : 15px;
            padding-top    : 15px;
            height         : 28px;

            input {
                width  : 200px;
                padding: 0 5px;
            }
        }

        .result-container {
            display        : flex;
            flex-direction : row;
            gap            : 15px;
            justify-content: space-between;
            align-items    : center;
            flex-wrap      : wrap;
            padding        : 15px;
        }

    }
}